__pycache__/
.vscode/
outputs/
wandb/
lightning_logs/
tmp/
assets/egohos
assets/hifihr
assets/lama
assets/mano
assets/nimble
assets/sam
assets/smplx
data/FreiHAND
data/YCB
data/Objaverse
data/DexYCB
=