[submodule "submodules/Inpaint_Anything"]
	path = submodules/Inpaint_Anything
	url = https://github.com/ChaerinMin/Inpaint-Anything.git
[submodule "submodules/NIMBLE_model"]
	path = submodules/NIMBLE_model
	url = https://github.com/ChaerinMin/NIMBLE_model.git
[submodule "submodules/HiFiHR"]
	path = submodules/HiFiHR
	url = https://github.com/ChaerinMin/HiFiHR.git
[submodule "submodules/EgoHOS"]
	path = submodules/EgoHOS
	url = https://github.com/ChaerinMin/EgoHOS.git
